body {
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  color: rgb(13, 13, 37);
}

main {
  height: 100vh;
  background: linear-gradient(rgb(247, 247, 248), rgba(0, 0, 0, 0.1)), url("https://images.unsplash.com/photo-1479044769763-c28e05b5baa5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80") no-repeat center/cover;
}
main nav {
  position: absolute;
  top: 2%;
  right: 2%;
  float: right;
}
@media screen and (max-width: 700px) {
  main nav ul {
    display: none;
  }
  main nav .hamburger,
  main nav .cart,
  main nav .search {
    width: 10%;
  }
  main nav .hamburger {
    display: felx;
  }
}
main nav a {
  font-size: 0.7em;
  color: rgb(13, 13, 37);
  text-decoration: none;
}
main nav ul {
  list-style: none;
}
main nav li {
  display: inline;
  padding: 0.4em;
}
main nav .hamburger {
  display: none;
}
main h3,
main .hamburger,
main .cart,
main .search {
  font-family: "Playfair Display", serif;
  color: rgb(255, 136, 0);
}
main #welcome {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: grid;
  grid-template-columns: 30% 1fr 10%;
  grid-template-rows: repeat(5, 20%);
}
main #welcome h1 {
  font-family: "Playfair Display", serif;
  text-align: center;
  margin-right: 25%;
  grid-column: 2;
  grid-row: 2;
  min-width: 300px;
}
main #welcome form {
  margin-top: 2em;
  grid-column: 2;
  grid-row: 3;
  margin-left: 3%;
}
main #welcome form input {
  height: 40px;
  border: none;
  padding-left: 3%;
  width: 50%;
  min-width: 150px;
  border-radius: 5px;
}
main #welcome form select {
  height: 40px;
  border: none;
  min-width: 50px;
  background: rgb(255, 136, 0);
  color: rgb(247, 247, 248);
  border-radius: 5px;
  margin-left: -5px;
}

#story {
  height: 100vh;
  background-image: url(https://cuisinebo.vercel.app/images/about.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 350px;
  padding-left: 40%;
  padding-right: 10%;
  text-align: justify;
}
#story h2 {
  color: rgb(255, 136, 0);
  font-size: 1.5rem;
}
#story h3 {
  font-family: "Playfair Display", serif;
  color: rgb(13, 13, 37);
  font-size: 2em;
}
#story p {
  font-size: large;
}
#story button {
  height: 40px;
  border: none;
  min-width: 50px;
  background: rgb(255, 136, 0);
  color: rgb(247, 247, 248);
  border-radius: 5px;
  margin-left: -5px;
}

#menu {
  height: auto;
}
#menu h3 {
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: xx-large;
}
#menu a {
  font-size: 0.5em;
  color: rgb(13, 13, 37);
  text-decoration: none;
  border-bottom: 1px solid #000;
  padding-bottom: 15px;
}
#menu .firstlink {
  color: rgb(255, 136, 0);
  border-bottom: 1px solid rgb(255, 136, 0);
}
#menu .dots {
  color: rgb(255, 136, 0);
  justify-content: center;
  font-size: 0.9em;
}
#menu .dots li {
  padding: 0.3em;
}
#menu ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
#menu li {
  display: inline;
  /* padding: 0.3em; */
}
#menu .gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media screen and (max-width: 700px) {
  #menu .gallery {
    grid-template-columns: 1fr 1fr;
  }
}
#menu .gallery .img01 {
  background-image: url(https://source.unsplash.com/fdlZBWIP0aM);
  margin: 5%;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
}
#menu .gallery .img01 .gallery-overlay :hover {
  left: 0;
}
#menu .gallery .img01 .gallery-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  transition: left 0.7s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#menu .gallery .img02 {
  background-image: url(https://source.unsplash.com/Zyx6a0ReB18);
  margin: 5%;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
}
#menu .gallery .img02 .gallery-overlay :hover {
  left: 0;
}
#menu .gallery .img02 .gallery-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  transition: left 0.7s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#menu .gallery .img03 {
  background-image: url(https://source.unsplash.com/WbA_PCv3_Co);
  margin: 5%;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
}
#menu .gallery .img03 .gallery-overlay :hover {
  left: 0;
}
#menu .gallery .img03 .gallery-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  transition: left 0.7s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#menu .gallery .img04 {
  background-image: url(https://source.unsplash.com/SH6vc3VOOwE);
  margin: 5%;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
}
#menu .gallery .img04 .gallery-overlay :hover {
  left: 0;
}
#menu .gallery .img04 .gallery-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  transition: left 0.7s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#menu .gallery .img05 {
  background-image: url(https://source.unsplash.com/ohnRXPYXDEE);
  margin: 5%;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
}
#menu .gallery .img05 .gallery-overlay :hover {
  left: 0;
}
#menu .gallery .img05 .gallery-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  transition: left 0.7s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#menu .gallery .img06 {
  background-image: url(https://source.unsplash.com/j3gz0KReZbA);
  margin: 5%;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
}
#menu .gallery .img06 .gallery-overlay :hover {
  left: 0;
}
#menu .gallery .img06 .gallery-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  transition: left 0.7s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#menu .gallery .img07 {
  background-image: url(https://source.unsplash.com/FFqNATH27EM);
  margin: 5%;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
}
#menu .gallery .img07 .gallery-overlay :hover {
  left: 0;
}
#menu .gallery .img07 .gallery-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  transition: left 0.7s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#menu .gallery .img08 {
  background-image: url(https://source.unsplash.com/RwoKbjJdYvE);
  margin: 5%;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
}
#menu .gallery .img08 .gallery-overlay :hover {
  left: 0;
}
#menu .gallery .img08 .gallery-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  transition: left 0.7s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#booking {
  height: 130vh;
  background-color: rgb(247, 247, 248);
  font-family: "Playfair Display", serif;
  text-align: center;
  padding-top: 1em;
}
#booking h2 {
  font-size: small;
  color: rgb(255, 136, 0);
}
#booking span {
  font-size: small;
}
#booking i {
  border: 1px solid rgb(255, 136, 0);
  color: rgb(255, 136, 0);
  border-radius: 100%;
  padding: 0.6rem;
  font-size: 1.5rem;
}
#booking a {
  font-family: "Lato", sans-serif;
  color: rgb(255, 136, 0);
  text-decoration: none;
  font-size: 0.8em;
}
#booking .timetable {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
}
#booking .timetable .time {
  font-size: 0.8em;
}
#booking img {
  height: auto;
  width: 75%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 4em;
  bottom: 0;
  font-size: small;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
